* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.main-cont {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 750px;
  background-color: #e5e5e5;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

.nav {
  width: 100%;
  height: 70px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav__logo {
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
}
.my-contacts {
  font-size: 2rem;
  margin-left: 10px;
}
.nav__logo__img-cont {
  width: 32px;
  height: 32px;
}
.nav__logo__img-cont img {
  max-width: 100%;
  min-height: 100%;
}
.nav__link {
  margin-right: 1.7rem;
}
@media (max-width: 400px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav__logo {
    margin: 0;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.home-page {
  background-color: #e5e5e5;
  width: 100%;
  min-height: 680px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.display {
  width: 80%;
  margin: 4rem;
}

.list-funcs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form1 {
  display: flex;
}
.list-funcs__search-cont__search {
  width: 550px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.35);
  border-radius: 2px;
}
.search-btn {
  width: 60px;
  height: 40px;
  margin-left: 0.3rem;
}
@media (max-width: 950px) {
  .list-funcs__search-cont__search {
    width: 400px;
  }
}
@media (max-width: 750px) {
  .list-funcs__search-cont__search {
    width: 300px;
  }
}
@media (max-width: 620px) {
  .list-funcs {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .list-funcs__search-cont__search {
    width: 200px;
  }
}

.btn {
  width: 40px;
  height: 40px;
}

.list-funcs__funcs-cont__filter-favs {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}
/*///////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////

.like-button {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}
.like-button::before {
  font-size: 3em;
  color: grey;
  content: '❤';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.like-button::after {
  font-size: 3em;
  color: #d32f2f;
  content: '❤';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}
.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}*/

.list-funcs__funcs-cont {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.contact-page {
  background-color: rgb(90, 49, 49);
  width: 100%;
  min-height: 680px;
  display: flex;
}
.contact-info__contact-form {
  background-color: cadetblue;
  width: 50%;
  height: 460px;
  margin: 4rem;
}
.contact-info__contact-form__contact-img-cont {
  width: 100%;
  height: 140px;
  background-color: cornflowerblue;
  display: flex;
  align-items: flex-start;
}
.contact-info__contact-form__contact-img-cont__inner-cont {
  width: 200px;
  height: 60px;
}
.contact-info__contact-form__contact-img-cont__inner-cont img {
  max-width: 100%;
  min-height: 100%;
}

.contact-info__contact-form__columns-cont {
  background-color: crimson;
  width: 100%;
  height: 320px;
  display: flex;
}

.contact-info__contact-form__columns-cont__column {
  background-color: rgb(59, 59, 151);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-field {
  width: 300px;
  height: 30px;
}
.contact-info__contact-form__columns-cont__column__field-cont__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid red;
  height: 70px;
}
label {
  height: 20px;
  background-color: darkgreen;
}
.save-contact-btn-cont {
  height: 70px;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.save-contact-btn-cont__btn {
  width: 300px;
  height: 30px;
}

.favorite {
  background-color: red;
}

/*//////////////////////////////////////////////////////////*/

[id='heart'] {
  position: absolute;
  left: -100vw;
}

[for='heart'] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 6em;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

[for='heart']:hover {
  color: grey;
}

[for='heart']::selection {
  color: none;
  background: transparent;
}

[for='heart']::moz-selection {
  color: none;
  background: transparent;
}

[id='heart']:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
